#ifndef STARS_DECOMPILED_STRUCTS_H
#define STARS_DECOMPILED_STRUCTS_H

#include <stdint.h>
#include <windows.h>

#include "enums.h"

{{range $i, $s := .ForwardDeclarations}}
typedef {{.Kind}} {{.TagName}} {{.TypedefName}};
{{- end}}

{{range $i, $s := .Structs}}
{{- if $i }}
{{- end }}
{{ template "struct.detail" $s }}
{{ end }}

#endif
